.App {
    text-align: center;
    background-color: #61dafb;
  }

/* Custom styles for small screens */
@media (max-width: 576px) {
    .my-class {
      font-size: 8px;
      padding: 5px;
      margin: 1px;
      width: 200px;
    }
  }
  
  /* Custom styles for larger screens */
  @media (min-width: 577px) {
    .my-class {
      font-size: 16px;
      padding: 15px;
      margin: 1px;
    }
  }



  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #a0dcf1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @media (max-width: 576px) {
    .side-image {
        /* Set a specific width and height for your images, or use auto to maintain aspect ratio */
        width: auto; /* or any specific width */
        height: 100px; /* Adjust the height to match your design */
      }
  }
  

  @media (min-width: 577px) {
    .side-image {
        /* Set a specific width and height for your images, or use auto to maintain aspect ratio */
        width: auto; /* or any specific width */
        height: 500px; /* Adjust the height to match your design */
      }
  }


  .minting-container {
    display: flex;
    align-items: center; /* This aligns the children (the images and the content) vertically */
    justify-content: space-between; /* This will add space between the children */
  }
  
  .minting-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons and the heading */
    margin: 25px;
    padding: 1px;
  }
  
  .emboss-effect {
    /* Adjust the colors to match the desired emboss effect */
    background-color: #ddd; /* Light grey background */
    color: #333; /* Darker text color for contrast */
  
    /* Layered box shadows to create the emboss effect */
    box-shadow: 
      2px 1px 2px #bbb, /* Lighter shadow on one side */
      -1px -1px 5px #fff; /* Darker shadow on the opposite side */
    
    /* Text-shadow for text elements if needed */
    text-shadow:
      1px 1px 2px #fff, /* Lighter text shadow */
      -1px -1px 2px #888; /* Darker text shadow */
  }
  
  .button-container {
    margin-bottom: 20px; /* Adjust the space as needed */
  }

  .slider-container {
    position: relative;
    margin: 10px 0;
  }
  
  .slider {
    width: 100%; /* Ensure the slider stretches to the container's width */
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between; /* Spread the labels evenly */
    margin-top: 2px; /* Adjust as needed */
  }
  
  .label {
    position: relative;
    flex: 0 0 auto;
    text-align: center; /* Center the text within the label */
    /* Adjust width to match the slider's step increments */
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  